/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@import "./_tailwind.css";

/*
   |--------------------------------------------------------------------------
   | Fonts
   |--------------------------------------------------------------------------
   |
   | Import all fonts used in the template, the font configuration can be
   | seen in "tailwind.config.js".
   |
   | Please check this link for more details:
   | https://tailwindcss.com/docs/theme
   |
   */
@import "./_roboto.css";

/*
   |--------------------------------------------------------------------------
   | 3rd Party Libraries
   |--------------------------------------------------------------------------
   |
   | Import 3rd party library CSS files.
   |
   */
@import "simplebar/dist/simplebar.css";
@import "dropzone/dist/dropzone.css";
@import "tabulator-tables/dist/css/tabulator.css";
@import "tom-select/dist/css/tom-select.css";
@import "zoom-vanilla.js/dist/zoom.css";
@import "toastify-js/src/toastify.css";
@import "highlight.js/styles/github.css";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";
@import "tippy.js/dist/svg-arrow.css";
@import "tippy.js/animations/shift-away.css";
@import "tiny-slider/dist/tiny-slider.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";

/*
   |--------------------------------------------------------------------------
   | Components
   |--------------------------------------------------------------------------
   |
   | Import CSS components.
   |
   */
@import "./components/_global.css";
@import "./components/_intro.css";
@import "./components/_zoom-in.css";
@import "./components/_image-fit.css";
@import "./components/_typing-dots.css";
@import "./components/_scrollbar-hidden.css";
@import "./components/_box.css";
@import "./components/_tiny-slider.css";
@import "./components/_tippy.css";
@import "./components/_toastify.css";
@import "./components/_zoom-vanilla.css";
@import "./components/_tom-select.css";
@import "./components/_ckeditor.css";
@import "./components/_litepicker.css";
@import "./components/_full-calendar.css";
@import "./components/_tabulator.css";
@import "sweetalert2/dist/sweetalert2.css";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.select-off {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sortable-ghost {
    @apply bg-slate-200;
}

.sortable-ghost-deleted {
    @apply bg-red-300;
}

.dropzone {
    @apply min-h-32 p-0.5;
}

.dropzone .dz-preview {
    @apply mx-0 my-0 w-full max-w-fit flex items-center justify-center;
}

.dropzone .dz-preview .dz-image {
    @apply rounded w-full min-w-full;
}

.dropzone .dz-preview .dz-details {
    @apply flex flex-col p-0 h-full;
}

.dropzone .dz-preview .dz-details .dz-size {
    @apply mt-5;
}

.dropzone .dz-preview .dz-details .dz-filename {
    @apply text-wrap;
}

.react-clock__face {
    @apply border-none;
}

.react-clock__hand__body {
    @apply dark:bg-primary bg-primary;
}

.react-clock__second-hand__body {
    @apply dark:bg-danger bg-danger
}


.react-clock__mark__body {
    @apply dark:bg-slate-200;
}



/*table.calendar {*/
/*    border-collapse: collapse;*/
/*}*/

/*table.calendar thead {*/
/*    background-color: #5A5A5A;*/
/*    color: white;*/
/*    margin-bottom: 3px;*/
/*    border-bottom: 2px solid white*/
/*}*/

/*table.calendar thead th {*/
/*    font-weight: lighter;*/
/*    padding: 10px 3px;*/
/*}*/

/*table.calendar thead th.bolder {*/
/*    font-weight: bold;*/
/*}*/

/*table.calendar tbody {*/
/*    font-size: 0.8em;*/
/*}*/

/*table.calendar td {*/
/*    text-align: center;*/
/*    padding: 8px;*/
/*    cursor: pointer;*/
/*    border: 1px solid rgba(185, 185, 185, 0.13);*/
/*    min-width: 15px;*/
/*}*/

/*table.calendar tr:last-child td {*/
/*    border-bottom: none;*/
/*}*/

/*table.calendar td.month-name {*/
/*    font-weight: bold;*/
/*    text-align: left;*/
/*    cursor: default;*/
/*    border-left: none;*/
/*}*/

/*table.calendar td.prev-month,*/
/*table.calendar td.next-month {*/
/*    color: transparent;*/
/*    cursor: default;*/
/*    pointer-events: none;*/
/*}*/

/*table.calendar td.week-separator {*/
/*    pointer-events: none;*/
/*    padding: 0;*/
/*    width: 8px;*/
/*    min-width: 0;*/
/*}*/

/*table.calendar td.winter {*/
/*    background-color: rgba(159, 220, 249, 0.32);*/
/*}*/
/*table.calendar td.spring {*/
/*    background-color: rgba(145, 212, 110, 0.32);*/
/*}*/
/*table.calendar td.summer {*/
/*    background-color: rgba(255, 232, 91, 0.32);*/
/*}*/
/*table.calendar td.autumn {*/
/*    background-color: rgba(246, 151, 60, 0.32);*/
/*}*/
/*table.calendar td.holidays {*/
/*    font-weight: bold;*/
/*    color: red;*/
/*    text-decoration: underline;*/
/*}*/
/*table.calendar td.weekend {*/
/*    font-style: italic;*/
/*    font-weight: bold;*/
/*}*/

/*table.calendar td.bolder {*/
/*    font-weight: bold;*/
/*}*/

/*table.calendar td.winter.range,*/
/*table.calendar td.winter.selected {*/
/*    background-color: rgba(159, 220, 249, 1);*/
/*    font-weight: bold;*/
/*}*/
/*table.calendar td.spring.range,*/
/*table.calendar td.spring.selected {*/
/*    background-color: rgba(145, 212, 110, 1);*/
/*    font-weight: bold;*/
/*}*/
/*table.calendar td.summer.range,*/
/*table.calendar td.summer.selected {*/
/*    background-color: rgba(255, 232, 91, 1);*/
/*    font-weight: bold;*/
/*}*/
/*table.calendar td.autumn.range,*/
/*table.calendar td.autumn.selected {*/
/*    background-color: rgba(246, 151, 60, 1);*/
/*}*/

/*div.calendar-controls {*/
/*    margin: 5px auto;*/
/*    display: table;*/
/*    font-size: 25px;*/
/*    line-height: 35px;*/
/*}*/

/*div.calendar-controls div {*/
/*    display: inline;*/
/*}*/

/*div.calendar-controls .current-year {*/
/*    margin: 0 30px;*/
/*}*/

/*div.calendar-controls .control {*/
/*    font-weight: bolder;*/
/*    color: #323232;*/
/*    font-size: 0.8em;*/
/*    cursor: pointer;*/
/*}*/

/*div.calendar-controls .today {*/
/*    position: absolute;*/
/*    right: 15px;*/
/*    line-height: 35px;*/
/*    font-size: 0.6em;*/
/*    text-transform: uppercase;*/
/*}*/

/*!* Demo *!*/

/*div#calendar {*/
/*    position: relative;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #5A5A5A;*/
/*    background-color: white;*/
/*    overflow: hidden;*/
/*    -webkit-touch-callout: none;*/
/*    -webkit-user-select: none;*/
/*    -khtml-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*div#root {*/
/*    display: table;*/
/*    margin: 50px auto;*/
/*}*/

/*h2,h3,h4,h5 {*/
/*    text-align: center;*/
/*    color: #404040;*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*    color: #B10909;*/
/*}*/

/*a {*/
/*    color: #B10909;*/
/*    font-weight: bolder;*/
/*    text-decoration: none;*/
/*}*/

/*a.demoLink {*/
/*    text-decoration: underline;*/
/*}*/

/*div.options {*/
/*    border: 1px solid #B9B9B9;*/
/*    border-radius: 5px;*/
/*    padding: 10px 15px;*/
/*    margin-top: 30px;*/
/*}*/

/*div.options select {*/
/*    margin-left: 10px;*/
/*}*/

/*div.options .half {*/
/*    width: 48%;*/
/*    display: inline-table;;*/
/*}*/

/*div.options textarea {*/
/*    height: 320px;*/
/*    width: 100%;*/
/*    resize: vertical;*/
/*    padding: 5px;*/
/*}*/

/*div.options textarea.error {*/
/*    border-color: darkred;*/
/*    box-shadow: darkred 0 0 5px inset;*/
/*}*/

/*div.options .half a {*/
/*    font-size: 0.7em;*/
/*    margin-left: 10px;*/
/*}*/

/*p.interactiveDemo {*/
/*    font-style: italic;*/
/*}*/

/*p.interactiveDemo i {*/
/*    background-color: #E2E2E2;*/
/*    font-style: normal;*/
/*    font-family: monospace;*/
/*    padding: 2px 5px;*/
/*}*/
